button{
    font-family: Comic Sans MS;
    font-size: 35px;
    color: #111;
    background-color: inherit;
    position: absolute;
    border: none;
    cursor: pointer;
    left : 418px;
    top: 73px;
}
#words {
	font-family: Comic Sans MS;
    font-size: 50px;
    color: #111;
    background-color: inherit;
    position: absolute;
    border: none;
    cursor: pointer;
    left : 380px;
    top: 170px;	
}

#wrong
{
    font-family: Comic Sans MS;
    font-size: 50px;
    color: #111;
    background-color: inherit;
    position: absolute;
    padding: 7px;
    border: inset;
    border-width: 6px;
    border-color : red;
    border-radius: 5px;
    cursor: pointer;
    left : 380px;
    top: 350px; 
    transform: rotate(-25deg);
}
#correct
{
    font-family: Comic Sans MS;
    font-size: 50px;
    color: #111;
    background-color: inherit;
    position: absolute;
    padding: 7px;
    border: inset;
    border-width: 6px;
    border-color : red;
    border-radius: 5px;
    cursor: pointer;
    left : 550px;
    top: 350px; 
    transform: rotate(25deg);
}
#do
{
    font-family: Comic Sans MS;
    font-size: 40px;
    color: red;
    background-color: inherit;
    position: absolute;
    border: none;
    cursor: pointer;
    left : 290px;
    top: 260px; 
}